# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
oikko.db

# Virtual environment
oikko/
venv/
env/

# VS Code / IDE settings
.vscode/
.idea/

# Python environment files
*.env
*.venv

# MacOS specific
.DS_Store

# Logs
*.log

# PyInstaller
dist/
build/
*.spec